{% extends '../../base.html' %}
{% load static %}


{% block content %}

<div class="container login-container">
    <div class="row">
        <div class="col-md-6  offset-md-3 mt-5 error-part hidden">
            <div class="errors">

                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Oh no</strong> <span class="error-message">Try logging in again. </span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
            </div>
        </div>
        
        <div class="col-md-6  offset-md-3 mt-3 login-form-1">
            <div class="text-center"> 
                <h3> &nbsp; Reset Password &nbsp;  <i class="fa fa-unlock-alt mb-2 mt-2" style="color: #999!important" aria-hidden="true"></i> </h3>
                
            </div>
                <div class="form-group">
                    <label>Old Password</label>
                    <input type="password" name="old_password" autofocus="" maxlength="254" required="" id="id_old_password"  class="form-control input-no-border">
                </div>
                <div class="form-group">
                    <label>New Password (8 characters)</label>
                    <input type="password" name="new_password" required="" id="id_new_password" class="form-control input-no-border">
                </div>
                <div class="form-group">
                    <label>Retype Password</label>
                    <input type="password" name="re_password" required="" id="id_re_password" class="form-control input-no-border">
                </div>

                <div class="form-group ">
                    <a href="#"  class="btn btn-fill btn-wd btn-primary reset-password ">Let's go</a>
                </div>
        </div>
    </div>
</div>


{% block js %}
<script> 

function isDoubleClicked(element) {
  //if already clicked return TRUE to indicate this click is not allowed
  if (element.data("isclicked")) return true;

  //mark as clicked for 1 second
  element.data("isclicked", true);
  setTimeout(function () {
      element.removeData("isclicked");
  }, 1000);

  //return FALSE to indicate this click was allowed
  return false;
}

$(document).on('click','.reset-password',function(e){
    e.preventDefault();
    e.preventDefault()
    e.stopPropagation();
    if (isDoubleClicked($(this))) return;


    this_button = $(this)
    this_button.removeClass('reset-password')
    this_button.html('Wait <i class="fa fa-spinner fa-spin"></i>')
    this_button.removeClass('btn-primary')
    this_button.addClass('btn-warning')
    $('.error-part').addClass('hidden')


    new_password = $('#id_new_password').val()
    re_password = $('#id_re_password').val()
    old_password = $('#id_old_password').val()
    if(!(new_password == re_password) || new_password == '' || re_password == '')
    {
        this_button.addClass('reset-password')
        this_button.html('Try again')   
        this_button.addClass('btn-primary')
        this_button.removeClass('btn-warning')
        $('.error-part').removeClass('hidden')
        $('.error-message').html('Your new passwords do not match')
        return false

        
    }
    else if(old_password == '')
    {
        this_button.addClass('reset-password')
        this_button.html('Try again')   
        this_button.addClass('btn-primary')
        this_button.removeClass('btn-warning')
        $('.error-part').removeClass('hidden')
        $('.error-message').html('Enter your old password')
        return false


    }
    else if(old_password == new_password)
    {
        this_button.addClass('reset-password')
        this_button.html('Try again')   
        this_button.addClass('btn-primary')
        this_button.removeClass('btn-warning')
        $('.error-part').removeClass('hidden')
        $('.error-message').html('Your new password is the same as the old one 🤦.')
        return false


    }

    else
    {
        $.ajax({
        url: "/ropt/user/profile/reset-password/",
        type: "POST",
        data: {
            csrfmiddlewaretoken: "{{ csrf_token }}",
            old_password: old_password,
            new_password: new_password,
            re_password: re_password,
        },
        success: function(response) {
            if(response.success)
            {
                window.location.replace("/ropt/signin/");

            }
            else
            {
                    this_button.addClass('reset-password')
                    this_button.html('Try again')   
                    this_button.addClass('btn-primary')
                    this_button.removeClass('btn-warning')
                    $('.error-part').removeClass('hidden')
                    $('.error-message').html('Something went wrong, try again')

            }

           
        },
        failure: function() {
               this_button.addClass('reset-password')
                    this_button.html('Try again')   
                    this_button.addClass('btn-primary')
                    this_button.removeClass('btn-warning')
                    $('.error-part').removeClass('hidden')
                    $('.error-message').html('Something went wrong, try again')
                    return false    
        },
        error: function(){
               this_button.addClass('reset-password')
                    this_button.html('Try again')   
                    this_button.addClass('btn-primary')
                    this_button.removeClass('btn-warning')
                    $('.error-part').removeClass('hidden')
                    $('.error-message').html('Something went wrong, try again')
                    return false 
        },
    })

    }

    

    
return false
})

 


</script>
{% endblock %}
{% endblock %}